{% extends 'base.html' %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
<h2 class="text-center">Profile</h3>
    <br>
    <h4 class="text-center">{{user.username}}</h4>
    <br>
    <br>
    <div class="center m-3">
        <h3>Posts</h3>
        {% for post in posts %}

        <div class="card m-3">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </div>

        {% endfor %}
        {% if request.user.id == user.id %}
        <a href="{% url 'home:create_post' %}" class="btn btn-primary m-3">Create</a>
        {% endif %}
    </div>
    {% endblock content %}