{% extends 'base.html' %} {% block content %}

<strong
  >Author:
  <p>{{post.user.username}}</p>
</strong>

<strong
  >Email:
  <p>{{post.user.email}}</p></strong
>

<strong
  >Date:
  <p>{{ post.created }}</p>
</strong>

<p>{{post.body}}</p>

<br />

{% if request.user.id == post.user.id %}
<a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">
  Delete
</a>
<a href="{% url 'home:post_update' post.id %}" class="btn btn-primary">
  Update
</a>
{% endif %} {% endblock content %}
