{% extends 'base.html' %} {% block content %}

<strong>
  Author:
  <a href="{% url 'account:user_profile' post.user.id %}">{{post.user.username}}</a>
</strong>
<br>
<br>
<strong>
  Email:
</strong>
<p>{{post.user.email}}</p>
<br>
<strong>
  Date:
</strong>
<p>{{ post.created }}</p>
<br>
<hr>
<br>
<strong>Content:</strong>
<br>
<br>
<p>{{post.body}}</p>
<br>
<hr>
<br>

{% if request.user.id == post.user.id %}
<a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">
  Delete
</a>
<a href="{% url 'home:post_update' post.id %}" class="btn btn-primary">
  Update
</a>
{% endif %} {% endblock content %}
