<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    {% if request.user.is_authenticated %}
    <a href="{% url 'user_logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'user_register' %}">Register</a>
    <a href="{% url 'user_login' %}">Login</a>
    {% endif %}

    {% if name %}
    <h3> {{ name }} Page</h1>
        {% else %}
        <h3>Home Page</h3>
        {% endif %}

        <a href="bye"> go to bye page</a>
</body>

</html>