{% extends 'base.html' %}



{% block title %}
    post
{% endblock title %}
    


{% block content %}

<p><b>Author:</b> <a href="{% url 'accounts:user_profile' post.user.id %}">{{ post.user.username }}</a></p>
<b>{{ post.title }}</b>
<p>"{{ post.body }}"</p>
<small><b>created:</b> {{ post.created }}</small>
<br>
<small><b>updated:</b>{{  post.updated }}</small>
<br>
<br>
{% if request.user.id == post.user.id %}
    <a href="{% url 'core:post_delete' post.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'core:post_update' post.id %}" class="btn btn-primary">Update</a>
{% endif %}

<b><hr></b>
{% for comment in comments %}
    <div class="card bg-dark text-white " >
        <p class="card-header text-primary" >
            {{ comment.user }} | {{    comment.created|timesince }}
        </p>
        <p class="card-body" >
            {{ comment.body }}
        </p>

        
        {% if request.user.is_authenticated %}
        <div class='p-4 m-4'>
            <form action="{% url 'core:comment_reply' post.id comment.id %}" method="POST" class="md-4">
                {% csrf_token %}
                {{ reply_form.as_p }}
                <input type="submit" value="Sent" class="btn btn-danger">
            </form>
        {% endif %}
        </div>   

        <div class="card bg-secondary p-4 m-3">
            {% for reply in comment.replies.all  %}    
                <p class="card-header bg-dark text-primary" >
                    {{ reply.user }} | {{ reply.created|timesince }}
                </p>
                <p class="card-body bg-dark text-white" >
                    {{ reply.body }}
                </p>
            {% empty %}
            <p>No Replies Yet</p>
            {% endfor %} 
        </div>
    </div>
    <br>
{% empty %}
<p>No Comments Yet!</p>
{% endfor %}


{% if request.user.is_authenticated %}
    <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
<br>
<br>
{% endif %}
    

{% endblock content %}
    

