.content {
    background-color: darkgray;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 75px;
    min-height: 75rem;
    padding-right: 20px;
}

.username {
    background-color: gray;
    padding: 5px;
    
}