{% extends "_base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{ post.title }}{% endblock title %}

{% block content %}

<h5 class="display-5">{{ post.title }}</h5>

<div style="padding:20px;">
    <p>Author: <a href="{% url 'accounts:profile' post.author.pk %}">{{ post.author }}</a></p>
    <p>Created at: {{ post.created|date:"Y M d" }}</p>
</div>

<div style="padding: 30px; background: dimgrey;" class="col-md-8">
    <p>{{ post.body }}</p>
    <hr>
    <div style="float: right;">
        {% if request.user.is_authenticated %}
        {% if like %}
        <a href="{% url 'posts:post_like' post.pk %}" style='text-decoration: none;' class="text-dark btn btn-danger">
            {{ post.count_likes }}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314">
                </path>
            </svg>
        </a>
        {% else %}
        <a href="{% url 'posts:post_like' post.pk %}" style='text-decoration: none;'
            class="text-dark btn btn-outline-danger"> {{ post.count_likes }}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                viewBox="0 0 16 16">
                <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15">
                </path>
            </svg>
        </a>
        {% endif %}
        {% endif %}
    </div>
    <br>
</div>


{% if request.user.id == post.author.id %}
<hr>
<div>
    <a href="{% url 'posts:post_delete' post.pk %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'posts:post_update' post.pk %}" class="btn btn-primary">Update</a>
</div>
{% endif %}
<hr>
<h5 class="display-5">Comments:</h5>
<br>

<div class="col-md-7">
    {% for comment in comments %}
    <div class="card bg-dark text-white">
        <p class="card-header"><a href="{% url 'accounts:profile' comment.commenter.pk %}">{{ comment.commenter }}</a> |
            {{ comment.created|timesince }} <br> {{ comment.title }}</p>
        <p class="card-body">{{ comment.body }}</p>


        {% for reply in comment.comment_comments.all %}
        <div class="p-3 m-1">
            <p class="card-header bg-secondary"><a href="{% url 'accounts:profile' comment.commenter.pk %}">
                    {{ reply.commenter }}</a> |
                {{ reply.created|timesince }} <br> {{ reply.title }}</p>
            <p class="card-body bg-secondary">{{ reply.body }}</p>
        </div>
        {% endfor %}


        {% if request.user.is_authenticated %}
        <div class="col-md-5 m-2 p-2">
            <form method="post" action="{% url 'posts:reply_comment' post.pk comment.pk %}">
                {% csrf_token %}
                {{ reply_form | crispy }}
                <input type="submit" class="btn btn-primary" value="send">
            </form>
            {% endif %}
        </div>



    </div>
    <br>
    {% empty %}
    <p>No Comments yet...</p>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<hr>
<h4>Add Comments:</h4>
<div class="comments">
    <form action="" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="Send" class="btn btn-primary">
    </form>
</div>
{% endif %}
<br>
{% endblock content %}