[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
ipython = "*"
ipykernel = "*"
matplotlib = "==3.7.1"
seaborn = "*"
joblib = "*"
scipy = "*"
jupyter = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.10"
